* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

#sidebar {
  background: #2c3e50;
  height: 100vh;
  width: 200px;
  transition: 0.4s all linear;
  position: fixed;
}

.logo {
  text-align: center;
  border-bottom: 1px solid #bbaaaab0;
  padding: 0 0;
}
.logo a {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav a {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.4s all ease;
}

.nav a:hover {
  background: rgba(0, 0, 0, 0.18);
  border-left: 5px solid #2980b9;
}
.nav a {
  color: #ffffff;
}

.toggle-btn {
  cursor: pointer;
  padding: 1rem 0.8rem;
}

.toggle-btn span {
  display: block;
  background: #ffffff;
  height: 4px;
  width: 30px;
  margin: 0.3rem 0;
  border-radius: 8px;
}

#sidebar.active {
  margin-left: -200px;
}

.App {
  padding: 1rem 0.8rem;
}
.content {
  margin-left: 200px;
  transition: 0.4s all linear;
}
.content.active {
  margin-left: 0;
}

.brand {
  display: flex;
  position: fixed;
  align-items: center;
  background: #34495e;
  width: 100%;
  padding: 5px;
  z-index: 100;
}

.header-logo {
  color: white;
}
